absl-py==0.11.0
attrs==25.3.0
cachetools==4.2.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==7.1.2
cloudpickle==1.6.0
Cython==0.29.37
Deprecated==1.2.18
docstring_parser==0.16
fire==0.7.0
google-api-core==2.10.2
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==1.44.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
jsonschema==3.2.0
kfp==1.8.1
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kubernetes==18.20.0
oauthlib==3.2.2
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==1.10.22
pyparsing==3.2.3
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
PyYAML==5.4.1
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rsa==4.9.1
six==1.17.0
strip-hints==0.1.13
tabulate==0.9.0
termcolor==3.1.0
typing_extensions==4.14.0
uritemplate==3.0.1
urllib3==1.26.20
websocket-client==1.8.0
wrapt==1.17.2
